body {
  font-family: Arial, Verdana, Sans-serif;
  min-width: 930px;
  background-color: #e0ddec;
  background-image: url(img/tree_bark.png);
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
html {
  height: 100%;
}
#content {
  background-color: #e0ddec;
  border: 1px solid #9e95c5;
  margin: 15px;
}
#nav {
  background-color: #3e3662;
  border-bottom: 1px solid #9e95c5;
  padding: 10px;
  margin: 0px 0px 10px 0px; /* ?? ?? bottom left */
  grid-row-start: 0;
  grid-row-end: 1;
}
#feature {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #000000;
  margin: 15px;
}
#footer {
  background-color: #3e3662;
  border-top: 1px solid #9e95c5;
  padding: 5px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
ul.navlist {
  display: inline;
  width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.navlist li {
  display: inline;
}
ul.navlist li a {
  padding: 10px;
  color: white;
  text-decoration: none;
}
ul.navlist li a:hover {
  color: #dfecdc;
}
/*ul.activepage li a {
	color: red;
}*/
/*
ul.navlist li a:visited {
	color: #dcc3d8;
}

ul.navlist li a:active {
	color: #c3d8dc;
}
*/
#feature h3 {
  text-decoration: underline;
  font-size: 14px;
}
ul.feature li {
  list-style-type: circle;
  font-size: 12px;
}
ul.navlist li img {
  height: 35px;
  width: 53px;
}
ul.experience li {
  list-style-type: circle;
  font-size: 12px;
}
p.skills {
  font-style: italic;
  font-size: 11px;
}
ul.edu li {
  list-style-type: circle;
  font-size: 12px;
}
ul.footer {
  display: inline;
  width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.footer li {
  display: inline;
}
ul.footer li img {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}
li {
  margin: 0px 0px 0px 0px;
}
/*
ul.navlist li a:hover {
	color: red;
}

ul.navlist li a:focus {
	color: orange;
}
*/
/*.column1, .column2, {
	background color: #d6d6d6;
	width: 450px;
	float: left;
margin: 10px;}
*/
h1 {
  font-style: underline 1px #000000;
  text-align: center;
}
h2 {
  font-style: italic;
  font-size: 18px;
  text-align: center;
}
h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
h4 {
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}
h5 {
  font-weight: bold;
  font-size: 10px;
  text align: left;
}
p {
  text-align: left;
  font-size: 12px;
}
/*
li {
	float: left;
}
*/
/*
img {
	border-radius: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	align: center;
	padding: 2px;
}
*/
th {
  text-align: left;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-transform: uppercase;
  padding: 5px;
}
td {
  text-align: left;
  font-size: 11px;
  padding: 3px 3px 3px 3px;
}
ol {
  list-style-type: disc;
}
.flexlayout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.recipecard {
  border: 1px solid #000000;
  background-color: #efedf5;
}
.recipecard h4 {
  margin: 5px;
  text-decoration: underline;
  text-align: center;
}
.recipecard p {
  text-align: center;
}
.recipecard img {
  border: 1px solid #434343;
  margin-top: 10px;
}
.recipecard a {
	color:#675aa3;
	font-size: 14px;
}
.maincard {
  border: 1px solid #000000;
  background-color: #efedf5;
}
.maincard h4 {
  margin: 5px;
  text-decoration: underline;
  text-align: center;
}
.maincard p {
  text-align: center;
}
.maincard img {
  border: 1px solid #434343;
  margin-top: 10px;
}
.maincard a {
	color:#675aa3;
	font-size: 14px;
}
#dough ul li {
    line-height: 150%;
}
#filling ul li {
    line-height: 150%;
}
#syrup ul li {
    line-height: 150%;
}
